* {
    margin: 0;
    font-family: 'Work Sans';
}

/*     header section1    */
header {
    background-color: rgba(255, 144, 14, 0.1);
    ;
}

.h-section1 {
    display: flex;
    color: #131313;
}

.h-head1 {
    padding: 50px 670px 102px 215px;
    font-weight: 700;
    font-size: 45px;

}

.h-div1 {
    display: flex;
    gap: 60px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-top: 50px;

}

/*   header section2   */
.h-section2 {
    text-align: center;

}

.h-head2 {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-left: 320px;
    margin-right: 340px;

}

.h-paragraph {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
    margin-left: 320px;
    margin-right: 340px;
}

.h-button {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    background-color: orangered;
    border-radius: 5px;
    margin-top: 30px;
}

.h-div2 img {
    border-radius: 8px;
    margin-top: 40px;
    margin-left: 230px;
    margin-right: 250px;
    margin-bottom: 50px;
}

/*   main section1  */
.m-section1 {
    display: flex;
}

.m-div1 {
    text-align: right;
    padding: 280px 50px 330px 70px;


}

.m-div2 {
    display: grid;
    grid-template-columns: 0fr 0fr;
    gap: 10px;
    padding: 85px 0px 0px 200px;
}

.m-head1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 20px;

}

.m-paragraph1 {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 537px;
    height: 78px;

}

.m-button1 {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    background-color: orangered;
    border-radius: 5px;
    margin-top: 20px;
}

/*   main section2   */
.m-section2 {
    display: flex;
}

.m-div3 {
    padding: 160px 50px 160px 140px;
    display: grid;
}

.m-div4 {
    padding: 130px 240px 130px 0px;
}

.m-head2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.m-paragraph2 {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 586px;
    height: 78px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.m-head3 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    width: 252px;
    height: 23px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.m-button2 {
    color: #FFFFFF;
    padding: 25px 42px;
    font-weight: 500;
    font-size: 25px;
    width: 258px;
    height: 109px;
    background: orangered;
    border-radius: 8px;
}

/*   footer section1   */
.f-div1 {
    margin-left: 200px;

}

.f-head1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.f-paragraph1 {
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    height: 52px;
    color: #727272;

}

.f-div2 {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 160px 200px;
}

.f-div3 {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 141.83px;
    height: 141.83px;
    font-weight: 600;
    font-size: 20px;
    padding: 45px 36px 60px 36px;
    justify-content: center;
    transition: all 1s ease;
}

.f-div3:hover {
    transform: rotate(60deg);
}

/*   footer section2   */
.f-div4 {
    text-align: center;
    display: grid;
    gap: 10px;
}

.f-head2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    height: 53px;
}

.f-paragraph2 {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    height: 52px;
}

.f-div5 {
    display: flex;
    justify-content: space-around;
}

.f-div6 {
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    height: 100px;
    margin: 100px 240px;

}

.f-paragraph3 {
    text-align: center;
    padding-top: 38px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}
@media only screen and (max-width: 768px){
    *{
        width: auto;
        height: auto; 
        padding: 0%;
        margin: auto;
    }  
}